ion-content{
    --background: linear-gradient(135deg,  #cccccc, #ffffff )
}

ion-card{
    --background: #fff;
}
ion-toolbar{
    --background:#fff;
}
ion-title{
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
